src/XSD/ProductClothing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<!--
    $Date: 2012/04/02 $

    AMAZON.COM CONFIDENTIAL.  This document and the information contained in it are
    confidential and proprietary information of Amazon.com and may not be reproduced, 
    distributed or used, in whole or in part, for any purpose other than as necessary 
    to list products for sale on the www.amazon.com web site pursuant to an agreement 
    with Amazon.com.
    -->
   <xsd:include schemaLocation="amzn-base.xsd" />
   <xsd:element name="Clothing">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="VariationData" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Parentage" minOccurs="0">
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="parent" />
                              <xsd:enumeration value="child" />
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element name="Size" minOccurs="0" type="String" default="*" />
                     <xsd:element name="Color" minOccurs="0" type="String" default="*" />
                     <xsd:element name="VariationTheme" minOccurs="0">
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Size" />
                              <xsd:enumeration value="Color" />
                              <xsd:enumeration value="SizeColor" />
                              <xsd:enumeration value="Color-Itempackagequantity" />
                              <xsd:enumeration value="Color-Material" />
                              <xsd:enumeration value="Color-Patternname" />
                              <xsd:enumeration value="ColorSize" />
                              <xsd:enumeration value="Itempackagequantity" />
                              <xsd:enumeration value="Itempackagequantity-Color" />
                              <xsd:enumeration value="Itempackagequantity-Material" />
                              <xsd:enumeration value="Itempackagequantity-Size" />
                              <xsd:enumeration value="Material" />
                              <xsd:enumeration value="Material-Color" />
                              <xsd:enumeration value="Material-Patternname" />
                              <xsd:enumeration value="Material-Size" />
                              <xsd:enumeration value="Patternname" />
                              <xsd:enumeration value="Patternname-Color" />
                              <xsd:enumeration value="Patternname-Material" />
                              <xsd:enumeration value="Patternname-Size" />
                              <xsd:enumeration value="Size-Material" />
                              <xsd:enumeration value="Size-Patternname" />
                              <xsd:enumeration value="Cupsize" />
                              <xsd:enumeration value="Cupsize-Color" />
                              <xsd:enumeration value="Cupsize-Color-Size" />
                              <xsd:enumeration value="Cupsize-Size" />
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ClassificationData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="BatteryAverageLife" minOccurs="0" type="Dimension" />
                     <xsd:element name="BatteryAverageLifeStandby" minOccurs="0" type="Dimension" />
                     <xsd:element name="BatteryChargeTime" minOccurs="0" type="Dimension" />
                     <xsd:element name="Size" minOccurs="0" type="String" />
                     <xsd:element name="Color" minOccurs="0" type="String" />
                     <xsd:element name="ClothingType">
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Shirt" />
                              <xsd:enumeration value="Sweater" />
                              <xsd:enumeration value="Pants" />
                              <xsd:enumeration value="Shorts" />
                              <xsd:enumeration value="Skirt" />
                              <xsd:enumeration value="Dress" />
                              <xsd:enumeration value="Suit" />
                              <xsd:enumeration value="Blazer" />
                              <xsd:enumeration value="Outerwear" />
                              <xsd:enumeration value="SocksHosiery" />
                              <xsd:enumeration value="Underwear" />
                              <xsd:enumeration value="Bra" />
                              <xsd:enumeration value="Shoes" />
                              <xsd:enumeration value="Hat" />
                              <xsd:enumeration value="Bag" />
                              <xsd:enumeration value="Accessory" />
                              <xsd:enumeration value="Jewelry" />
                              <xsd:enumeration value="Sleepwear" />
                              <xsd:enumeration value="Swimwear" />
                              <xsd:enumeration value="PersonalBodyCare" />
                              <xsd:enumeration value="HomeAccessory" />
                              <xsd:enumeration value="NonApparelMisc" />
                              <xsd:enumeration value="Kimono" />
                              <xsd:enumeration value="Obi" />
                              <xsd:enumeration value="Chanchanko" />
                              <xsd:enumeration value="Jinbei" />
                              <xsd:enumeration value="Yukata" />
                              <xsd:enumeration value="EthnicWear" />
                              <xsd:enumeration value="Costume" />
                              <xsd:enumeration value="AdultCostume" />
                              <xsd:enumeration value="BabyCostume" />
                              <xsd:enumeration value="ChildrensCostume" />
                              <xsd:enumeration value="Saree" />
                              <xsd:enumeration value="Kurta" />
                              <xsd:enumeration value="SalwarSuitSet" />
                              <xsd:enumeration value="LehengaCholiSet" />
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element name="Department" minOccurs="0" type="StringNotNull" maxOccurs="10" />
                     <xsd:element name="StyleKeywords" minOccurs="0" type="LongStringNotNull" maxOccurs="10" />
                     <xsd:element name="PlatinumKeywords" minOccurs="0" type="String" maxOccurs="20" />
                     <xsd:element name="ColorMap" minOccurs="0" type="String" />
                     <xsd:element name="SpecialSizeType" minOccurs="0" type="String" maxOccurs="10" />
                     <xsd:element name="MaterialAndFabric" minOccurs="0" type="LongString" maxOccurs="4" />
                     <xsd:element name="ImportDesignation" minOccurs="0" type="String" />
                     <xsd:element name="CountryAsLabeled" minOccurs="0" type="CountryOfOriginType" />
                     <xsd:element name="FurDescription" minOccurs="0" type="LongString" />
                     <xsd:element name="MaterialComposition" minOccurs="0" type="SuperLongStringNotNull" />
                     <xsd:element name="MaterialOpacity" minOccurs="0" type="HundredString" />
                     <xsd:element name="InnerMaterial" minOccurs="0" type="LongString" />
                     <xsd:element name="OuterMaterial" minOccurs="0" type="LongString" />
                     <xsd:element name="SoleMaterial" minOccurs="0" type="LongString" />
                     <xsd:element name="ShoeClosureType" minOccurs="0" type="String" />
                     <xsd:element name="ApparelClosureType" minOccurs="0" type="LongString" />
                     <xsd:element name="ClosureType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="CareInstructions" minOccurs="0" type="SuperLongStringNotNull" />
                     <xsd:element name="OccasionAndLifestyle" minOccurs="0" type="LongString" maxOccurs="10" />
                     <xsd:element name="EventKeywords" minOccurs="0" type="LongString" maxOccurs="10" />
                     <xsd:element name="Season" minOccurs="0" type="HundredString" />
                     <xsd:element name="SpecificUses" minOccurs="0" type="LongString" maxOccurs="3" />
                     <xsd:element name="ExternalTestingCertification" minOccurs="0" type="HundredString" maxOccurs="5" />
                     <xsd:element name="PerformanceRating" minOccurs="0" maxOccurs="3">
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Sunproof" />
                              <xsd:enumeration value="Waterproof" />
                              <xsd:enumeration value="Weatherproof" />
                              <xsd:enumeration value="Windproof" />
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element name="ProductSpecification" minOccurs="0" type="String" />
                     <xsd:element name="Warnings" minOccurs="0" type="LongStringNotNull" />
                     <xsd:element name="IsCustomizable" minOccurs="0" type="xsd:boolean" />
                     <xsd:element name="CustomizableTemplateName" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="StyleName" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="CollarType" minOccurs="0" type="String" />
                     <xsd:element name="SleeveType" minOccurs="0" type="String" />
                     <xsd:element name="WaistStyle" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="MinimumHeightRecommended" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="MaximumHeightRecommended" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="CountryName" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="CountryOfOrigin" minOccurs="0" type="CountryOfOriginType" />
                     <xsd:element name="DisplayLength" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="DisplayVolume" minOccurs="0" type="VolumeDimension" />
                     <xsd:element name="DisplayWeight" minOccurs="0" type="WeightDimension" />
                     <xsd:element name="ModelName" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="ModelNumber" minOccurs="0" type="FortyStringNotNull" />
                     <xsd:element name="ModelYear" minOccurs="0" type="FourDigitYear" />
                     <xsd:element name="IsAdultProduct" minOccurs="0" type="xsd:boolean" />
                     <xsd:element name="SizeMap" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="WaistSize" minOccurs="0" type="ClothingSizeDimension" />
                     <xsd:element name="InseamLength" minOccurs="0" type="ClothingSizeDimension" />
                     <xsd:element name="SleeveLength" minOccurs="0" type="ClothingSizeDimension" />
                     <xsd:element name="NeckSize" minOccurs="0" type="ClothingSizeDimension" />
                     <xsd:element name="ChestSize" minOccurs="0" type="ClothingSizeDimension" />
                     <xsd:element name="CupSize" minOccurs="0">
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="A" />
                              <xsd:enumeration value="AA" />
                              <xsd:enumeration value="B" />
                              <xsd:enumeration value="C" />
                              <xsd:enumeration value="D" />
                              <xsd:enumeration value="DD" />
                              <xsd:enumeration value="DDD" />
                              <xsd:enumeration value="E" />
                              <xsd:enumeration value="EE" />
                              <xsd:enumeration value="F" />
                              <xsd:enumeration value="FF" />
                              <xsd:enumeration value="G" />
                              <xsd:enumeration value="GG" />
                              <xsd:enumeration value="H" />
                              <xsd:enumeration value="I" />
                              <xsd:enumeration value="J" />
                              <xsd:enumeration value="Free" />
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element name="BraBandSize" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="ShoeWidth" minOccurs="0" type="String" />
                     <xsd:element name="HeelHeight" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="HeelType" minOccurs="0" type="String" />
                     <xsd:element name="ShaftHeight" minOccurs="0" type="StringLengthOptionalDimension" />
                     <xsd:element name="ShaftDiameter" minOccurs="0" type="String" />
                     <xsd:element name="BeltLength" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="BeltWidth" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="BeltStyle" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="BottomStyle" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="ButtonQuantity" minOccurs="0" type="PositiveInteger" />
                     <xsd:element name="Character" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="ControlType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="CuffType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="FabricType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="FabricWash" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="FitType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="FitToSizeDescription" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="FrontPleatType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="IncludedComponents" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="ItemRise" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="LaptopCapacity" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="LegDiameter" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="LegStyle" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="MaterialType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="MfrWarrantyDescriptionLabor" minOccurs="0" type="SuperLongStringNotNull" />
                     <xsd:element name="MfrWarrantyDescriptionParts" minOccurs="0" type="SuperLongStringNotNull" />
                     <xsd:element name="MfrWarrantyDescriptionType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="NeckStyle" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="Opacity" minOccurs="0" type="HundredString" />
                     <xsd:element name="PatternStyle" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="CollectionName" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="FrameMaterialType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="LensMaterialType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="PolarizationType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="LensWidth" minOccurs="0" type="StringLengthOptionalDimension" />
                     <xsd:element name="LensHeight" minOccurs="0" type="StringLengthOptionalDimension" />
                     <xsd:element name="BridgeWidth" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="PocketDescription" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="RegionOfOrigin" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="RiseStyle" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="SafetyWarning" minOccurs="0" type="SuperLongStringNotNull" />
                     <xsd:element name="SellerWarrantyDescription" minOccurs="0" type="SuperLongStringNotNull" />
                     <xsd:element name="SpecialFeature" minOccurs="0" type="LongStringNotNull" maxOccurs="3" />
                     <xsd:element name="TargetGender" minOccurs="0">
                        <xsd:simpleType>
                           <xsd:restriction base="StringNotNull">
                              <xsd:enumeration value="male" />
                              <xsd:enumeration value="female" />
                              <xsd:enumeration value="unisex" />
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element name="Theme" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="TopStyle" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="UnderwireType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="Volume" minOccurs="0" type="VolumeDimension" />
                     <xsd:element name="WaterResistanceLevel" minOccurs="0">
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="not_water_resistant" />
                              <xsd:enumeration value="water_resistant" />
                              <xsd:enumeration value="waterproof" />
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element name="WheelType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="FurisodeLength" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="FurisodeWidth" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="ObiLength" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="ObiWidth" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="TsukeobiWidth" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="TsukeobiHeight" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="PillowSize" minOccurs="0" type="StringLengthOptionalDimension" />
                     <xsd:element name="StrapType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="ToeShape" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="WarrantyType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="WarrantyDescription" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="OccasionType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="LeatherType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="IsVeryHighValue" minOccurs="0" type="xsd:boolean" />
                     <xsd:element name="IsStainResistant" minOccurs="0" type="xsd:boolean" />
                     <xsd:element name="HarmonizedCode" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="Contributor" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="BaseLength" minOccurs="0" type="LengthDimension" />
                     <xsd:element name="SupportType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="WeaveType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="EmbroideryType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="DesignName" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="CollectionDescription" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="SpecificUsesForProduct" minOccurs="0" type="StringNotNull" maxOccurs="3" />
                     <xsd:element name="PatternName" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="ShellType" minOccurs="0" type="StringNotNull" />
                     <xsd:element name="NumberOfWheels" minOccurs="0" type="PositiveInteger" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" ref="Battery" />
            <xsd:element name="LithiumBatteryEnergyContent" minOccurs="0" type="xsd:decimal" />
            <xsd:element name="LithiumBatteryPackaging" minOccurs="0">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="batteries_contained_in_equipment" />
                     <xsd:enumeration value="batteries_only" />
                     <xsd:enumeration value="batteries_packed_with_equipment" />
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LithiumBatteryVoltage" minOccurs="0" type="xsd:positiveInteger" />
            <xsd:element name="LithiumBatteryWeight" minOccurs="0" type="xsd:positiveInteger" />
            <xsd:element name="NumberOfLithiumIonCells" minOccurs="0" type="xsd:positiveInteger" />
            <xsd:element name="NumberOfLithiumMetalCells" minOccurs="0" type="xsd:positiveInteger" />
            <xsd:element name="PowerSource" minOccurs="0" type="StringNotNull" />
            <xsd:element name="ItemLengthDescription" minOccurs="0" type="StringNotNull" />
            <xsd:element name="Codabar" minOccurs="0" type="StringNotNull" />
            <xsd:element name="Importer" minOccurs="0" type="StringNotNull" />
            <xsd:element name="ManufacturerContactInformation" minOccurs="0" type="StringNotNull" />
            <xsd:element name="CountryString" minOccurs="0" type="StringNotNull" />
            <xsd:element name="FinishType" minOccurs="0" type="StringNotNull" />

<!--
###########################################################################################################################################################
#  Following Apparel size standardization Attributes to be filled-in for marketplaces only when ClothingType is: Dress, Sweater
   apparel_height_type
    apparel_body_type
    apparel_size_class
    apparel_size_system
    apparel_size
    apparel_size_to

   Please refer to the help pages for more details on apparel size attributes and valid values:
   US,CA,BR,MX: https://sellercentral.amazon.com/gp/help/M6YJ5XPA58U99XM
   UK,ES,FR,IT,DE,AE,NL: https://sellercentral.amazon.co.uk/gp/help/GM6YJ5XPA58U99XM
   JP: https://sellercentral.amazon.co.jp/gp/help/GM6YJ5XPA58U99XM
   AU: https://sellercentral.amazon.com.au/gp/help/GM6YJ5XPA58U99XM
   IN: https://sellercentral.amazon.in/gp/help/GM6YJ5XPA58U99XM
   SA: https://sellercentral.amazon.sa/gp/help/GM6YJ5XPA58U99XM
   UAE: https://sellercentral.amazon.ae/gp/help/GM6YJ5XPA58U99XM
###########################################################################################################################################################
-->


                <!--For AgeRangeDescription please enter from the marketplace specific values below: 
                        US,CA,MX,AU: Adult, Big Kid, Little Kid, Toddler, Infant
                        UK,DE,NL,FR,ES,AE,SA,IT: Adult, Kid, Infant, Toddler
                        IN,BR: Adult, Kid, Baby                       
                        JP: Adult, Kid, Infant
                -->


            <xsd:element name="AgeRangeDescription" minOccurs="0" type="StringNotNull" />


                <!--Valid Values for each marketplace are given below-
                                All other MPs except JP and BR: big, husky, plus, regular, petite
                                JP: slim, j, jy, y, ya, a, ab, b, bb, e, be
                                BR: regular, plus, petite
                --> 

	            <xsd:element name="ApparelBodyType" minOccurs="0" >
	               <xsd:simpleType>
	                  <xsd:restriction base="xsd:string">
	                     <xsd:enumeration value="bb" />
	                     <xsd:enumeration value="big" />
	                     <xsd:enumeration value="a" />
	                     <xsd:enumeration value="ab" />
	                     <xsd:enumeration value="b" />
	                     <xsd:enumeration value="be" />
	                     <xsd:enumeration value="husky" />
	                     <xsd:enumeration value="e" />
	                     <xsd:enumeration value="slim" />
	                     <xsd:enumeration value="ya" />
	                     <xsd:enumeration value="j" />
	                     <xsd:enumeration value="plus" />
	                     <xsd:enumeration value="jy" />
	                     <xsd:enumeration value="y" />
	                     <xsd:enumeration value="regular" />
	                     <xsd:enumeration value="petite" />
	                  </xsd:restriction>
	               </xsd:simpleType>
	            </xsd:element>
	            <xsd:element name="ApparelHeightType" minOccurs="0" >
	               <xsd:simpleType>
	                  <xsd:restriction base="xsd:string">

	                     <!--Valid Values for each marketplace are given below-
                                US,CA,MX,AU,UK,DE,NL,SE,PL,FR,ES,AE,SA,IT,BR: petite, short, regular, tall, extra_tall
                                JP: long, p, pp, w, t, y, 2, 3, 4, 5, 6, 7, 8, 9, r
                            -->

                        <xsd:enumeration value="pp" />
							   <xsd:enumeration value="long" />
							   <xsd:enumeration value="extra_tall" />
							   <xsd:enumeration value="p" />
							   <xsd:enumeration value="2" />
							   <xsd:enumeration value="r" />
							   <xsd:enumeration value="3" />
							   <xsd:enumeration value="t" />
							   <xsd:enumeration value="4" />
							   <xsd:enumeration value="5" />
							   <xsd:enumeration value="6" />
							   <xsd:enumeration value="w" />
							   <xsd:enumeration value="7" />
							   <xsd:enumeration value="8" />
							   <xsd:enumeration value="short" />
							   <xsd:enumeration value="y" />
							   <xsd:enumeration value="9" />
							   <xsd:enumeration value="tall" />
							   <xsd:enumeration value="regular" />
							   <xsd:enumeration value="petite" />
	                  </xsd:restriction>
	               </xsd:simpleType>
	            </xsd:element>
	            <xsd:element name="ApparelSize" minOccurs="0">
	               <xsd:simpleType>
	                  <xsd:restriction base="xsd:string">
	                     <xsd:enumeration value="numeric_134" />
	                     <xsd:enumeration value="numeric_50" />
	                     <xsd:enumeration value="numeric_52" />
	                     <xsd:enumeration value="numeric_51" />
	                     <xsd:enumeration value="jaspo_3x_s" />
	                     <xsd:enumeration value="5x_l" />
	                     <xsd:enumeration value="jaspo_3x_o" />
	                     <xsd:enumeration value="5x_s" />
	                     <xsd:enumeration value="3_years" />
	                     <xsd:enumeration value="numeric_54" />
	                     <xsd:enumeration value="15_months" />
	                     <xsd:enumeration value="numeric_53" />
	                     <xsd:enumeration value="numeric_56" />
	                     <xsd:enumeration value="numeric_140" />
	                     <xsd:enumeration value="numeric_55" />
	                     <xsd:enumeration value="numeric_58" />
	                     <xsd:enumeration value="numeric_57" />
	                     <xsd:enumeration value="numeric_59" />
	                     <xsd:enumeration value="numeric_124" />
	                     <xsd:enumeration value="numeric_123" />
	                     <xsd:enumeration value="numeric_126" />
	                     <xsd:enumeration value="numeric_125" />
	                     <xsd:enumeration value="jaspo_8x_o" />
	                     <xsd:enumeration value="numeric_128" />
	                     <xsd:enumeration value="numeric_61" />
	                     <xsd:enumeration value="jaspo_8x_ot" />
	                     <xsd:enumeration value="numeric_60" />
	                     <xsd:enumeration value="numeric_127" />
	                     <xsd:enumeration value="8_l" />
	                     <xsd:enumeration value="numeric_63" />
	                     <xsd:enumeration value="numeric_62" />
	                     <xsd:enumeration value="numeric_129" />
	                     <xsd:enumeration value="jaspo_x_s" />
	                     <xsd:enumeration value="numeric_65" />
	                     <xsd:enumeration value="jaspo_x_o" />
	                     <xsd:enumeration value="numeric_64" />
	                     <xsd:enumeration value="10x" />
	                     <xsd:enumeration value="numeric_67" />
	                     <xsd:enumeration value="numeric_66" />
	                     <xsd:enumeration value="numeric_69" />
	                     <xsd:enumeration value="numeric_68" />
	                     <xsd:enumeration value="numeric_130" />
	                     <xsd:enumeration value="12_years" />
	                     <xsd:enumeration value="numeric_70" />
	                     <xsd:enumeration value="numeric_158" />
	                     <xsd:enumeration value="numeric_72" />
	                     <xsd:enumeration value="numeric_71" />
	                     <xsd:enumeration value="numeric_74" />
	                     <xsd:enumeration value="numeric_73" />
	                     <xsd:enumeration value="jaspo_5x_ot" />
	                     <xsd:enumeration value="0x" />
	                     <xsd:enumeration value="24_months" />
	                     <xsd:enumeration value="teeny" />
	                     <xsd:enumeration value="numeric_76" />
	                     <xsd:enumeration value="numeric_160" />
	                     <xsd:enumeration value="numeric_75" />
	                     <xsd:enumeration value="9_months" />
	                     <xsd:enumeration value="numeric_78" />
	                     <xsd:enumeration value="numeric_77" />
	                     <xsd:enumeration value="10_l" />
	                     <xsd:enumeration value="numeric_164" />
	                     <xsd:enumeration value="numeric_79" />
	                     <xsd:enumeration value="8_years" />
	                     <xsd:enumeration value="numeric_146" />
	                     <xsd:enumeration value="ss" />
	                     <xsd:enumeration value="numeric_81" />
	                     <xsd:enumeration value="numeric_80" />
	                     <xsd:enumeration value="x_l" />
	                     <xsd:enumeration value="numeric_83" />
	                     <xsd:enumeration value="7_l" />
	                     <xsd:enumeration value="2_years" />
	                     <xsd:enumeration value="e" />
	                     <xsd:enumeration value="numeric_82" />
	                     <xsd:enumeration value="numeric_85" />
	                     <xsd:enumeration value="numeric_84" />
	                     <xsd:enumeration value="1x" />
	                     <xsd:enumeration value="9_years" />
	                     <xsd:enumeration value="jaspo_2x_s" />
	                     <xsd:enumeration value="l" />
	                     <xsd:enumeration value="6x_s" />
	                     <xsd:enumeration value="x_s" />
	                     <xsd:enumeration value="m" />
	                     <xsd:enumeration value="jaspo_2x_o" />
	                     <xsd:enumeration value="s" />
	                     <xsd:enumeration value="6x_l" />
	                     <xsd:enumeration value="numeric_87" />
	                     <xsd:enumeration value="numeric_86" />
	                     <xsd:enumeration value="numeric_89" />
	                     <xsd:enumeration value="numeric_88" />
	                     <xsd:enumeration value="numeric_150" />
	                     <xsd:enumeration value="numeric_152" />
	                     <xsd:enumeration value="numeric_90" />
	                     <xsd:enumeration value="numeric_92" />
	                     <xsd:enumeration value="jaspo_7x_o" />
	                     <xsd:enumeration value="numeric_91" />
	                     <xsd:enumeration value="numeric_94" />
	                     <xsd:enumeration value="numeric_93" />
	                     <xsd:enumeration value="numeric_96" />
	                     <xsd:enumeration value="2x" />
	                     <xsd:enumeration value="numeric_95" />
	                     <xsd:enumeration value="numeric_height_190" />
	                     <xsd:enumeration value="go_50" />
	                     <xsd:enumeration value="go_7" />
	                     <xsd:enumeration value="go_8" />
	                     <xsd:enumeration value="go_9" />
	                     <xsd:enumeration value="numeric_98" />
	                     <xsd:enumeration value="numeric_182" />
	                     <xsd:enumeration value="numeric_97" />
	                     <xsd:enumeration value="1_year" />
	                     <xsd:enumeration value="numeric_99" />
	                     <xsd:enumeration value="jaspo_ot" />
	                     <xsd:enumeration value="numeric_188" />
	                     <xsd:enumeration value="16_years" />
	                     <xsd:enumeration value="numeric_height_185" />
	                     <xsd:enumeration value="6_l" />
	                     <xsd:enumeration value="3x" />
	                     <xsd:enumeration value="numeric_height_180" />
	                     <xsd:enumeration value="go_0" />
	                     <xsd:enumeration value="jaspo_2x_ot" />
	                     <xsd:enumeration value="go_1" />
	                     <xsd:enumeration value="go_2" />
	                     <xsd:enumeration value="go_3" />
	                     <xsd:enumeration value="go_4" />
	                     <xsd:enumeration value="go_5" />
	                     <xsd:enumeration value="go_6" />
	                     <xsd:enumeration value="numeric_170" />
	                     <xsd:enumeration value="numeric_176" />
	                     <xsd:enumeration value="go_39" />
	                     <xsd:enumeration value="numeric_height_175" />
	                     <xsd:enumeration value="go_38" />
	                     <xsd:enumeration value="4x" />
	                     <xsd:enumeration value="go_37" />
	                     <xsd:enumeration value="go_36" />
	                     <xsd:enumeration value="go_35" />
	                     <xsd:enumeration value="go_34" />
	                     <xsd:enumeration value="go_33" />
	                     <xsd:enumeration value="go_32" />
	                     <xsd:enumeration value="0_month" />
	                     <xsd:enumeration value="go_31" />
	                     <xsd:enumeration value="go_30" />
	                     <xsd:enumeration value="xx_s" />
	                     <xsd:enumeration value="numeric_height_170" />
	                     <xsd:enumeration value="7x_l" />
	                     <xsd:enumeration value="xx_l" />
	                     <xsd:enumeration value="18_years" />
	                     <xsd:enumeration value="jaspo_6x_o" />
	                     <xsd:enumeration value="numeric_height_165" />
	                     <xsd:enumeration value="5_l" />
	                     <xsd:enumeration value="3_months" />
	                     <xsd:enumeration value="5x" />
	                     <xsd:enumeration value="go_49" />
	                     <xsd:enumeration value="go_48" />
	                     <xsd:enumeration value="go_47" />
	                     <xsd:enumeration value="go_46" />
	                     <xsd:enumeration value="go_45" />
	                     <xsd:enumeration value="go_44" />
	                     <xsd:enumeration value="go_43" />
	                     <xsd:enumeration value="go_42" />
	                     <xsd:enumeration value="newborn" />
	                     <xsd:enumeration value="go_41" />
	                     <xsd:enumeration value="jaspo_6x_s" />
	                     <xsd:enumeration value="go_40" />
	                     <xsd:enumeration value="numeric_height_160" />
	                     <xsd:enumeration value="micro" />
	                     <xsd:enumeration value="jaspo_6x_ot" />
	                     <xsd:enumeration value="17_years" />
	                     <xsd:enumeration value="jaspo_10x_ot" />
	                     <xsd:enumeration value="go_19" />
	                     <xsd:enumeration value="numeric_height_155" />
	                     <xsd:enumeration value="go_18" />
	                     <xsd:enumeration value="6x" />
	                     <xsd:enumeration value="go_17" />
	                     <xsd:enumeration value="go_16" />
	                     <xsd:enumeration value="go_15" />
	                     <xsd:enumeration value="12_months" />
	                     <xsd:enumeration value="numeric_height_75" />
	                     <xsd:enumeration value="go_14" />
	                     <xsd:enumeration value="go_13" />
	                     <xsd:enumeration value="go_12" />
	                     <xsd:enumeration value="6_years" />
	                     <xsd:enumeration value="go_11" />
	                     <xsd:enumeration value="go_10" />
	                     <xsd:enumeration value="numeric_height_150" />
	                     <xsd:enumeration value="18_months" />
	                     <xsd:enumeration value="numeric_height_80" />
	                     <xsd:enumeration value="7x" />
	                     <xsd:enumeration value="4_l" />
	                     <xsd:enumeration value="go_29" />
	                     <xsd:enumeration value="numeric_height_85" />
	                     <xsd:enumeration value="go_28" />
	                     <xsd:enumeration value="6_months" />
	                     <xsd:enumeration value="4_months" />
	                     <xsd:enumeration value="go_27" />
	                     <xsd:enumeration value="go_26" />
	                     <xsd:enumeration value="jaspo_3x_ot" />
	                     <xsd:enumeration value="go_25" />
	                     <xsd:enumeration value="numeric_height_145" />
	                     <xsd:enumeration value="go_24" />
	                     <xsd:enumeration value="go_23" />
	                     <xsd:enumeration value="jaspo_o" />
	                     <xsd:enumeration value="go_22" />
	                     <xsd:enumeration value="go_21" />
	                     <xsd:enumeration value="jaspo_m" />
	                     <xsd:enumeration value="go_20" />
	                     <xsd:enumeration value="jaspo_l" />
	                     <xsd:enumeration value="10x_l" />
	                     <xsd:enumeration value="jaspo_s" />
	                     <xsd:enumeration value="numeric_height_140" />
	                     <xsd:enumeration value="8x_l" />
	                     <xsd:enumeration value="numeric_height_90" />
	                     <xsd:enumeration value="8x" />
	                     <xsd:enumeration value="numeric_height_50" />
	                     <xsd:enumeration value="3x_s" />
	                     <xsd:enumeration value="jaspo_5x_o" />
	                     <xsd:enumeration value="numeric_height_130" />
	                     <xsd:enumeration value="15_years" />
	                     <xsd:enumeration value="jaspo_10x_o" />
	                     <xsd:enumeration value="numeric_height_55" />
	                     <xsd:enumeration value="numeric_height_135" />
	                     <xsd:enumeration value="3x_l" />
	                     <xsd:enumeration value="jaspo_5x_s" />
	                     <xsd:enumeration value="numeric_1" />
	                     <xsd:enumeration value="numeric_0" />
	                     <xsd:enumeration value="l_l" />
	                     <xsd:enumeration value="s_s_s" />
	                     <xsd:enumeration value="9x" />
	                     <xsd:enumeration value="3_l" />
	                     <xsd:enumeration value="numeric_height_60" />
	                     <xsd:enumeration value="one_size" />
	                     <xsd:enumeration value="numeric_height_120" />
	                     <xsd:enumeration value="numeric_height_65" />
	                     <xsd:enumeration value="numeric_height_125" />
	                     <xsd:enumeration value="14_years" />
	                     <xsd:enumeration value="jaspo_7x_ot" />
	                     <xsd:enumeration value="numeric_00" />
	                     <xsd:enumeration value="numeric_height_70" />
	                     <xsd:enumeration value="numeric_height_110" />
	                     <xsd:enumeration value="numeric_height_115" />
	                     <xsd:enumeration value="10_years" />
	                     <xsd:enumeration value="30_months" />
	                     <xsd:enumeration value="numeric_18" />
	                     <xsd:enumeration value="numeric_17" />
	                     <xsd:enumeration value="numeric_19" />
	                     <xsd:enumeration value="13_years" />
	                     <xsd:enumeration value="9x_l" />
	                     <xsd:enumeration value="numeric_10" />
	                     <xsd:enumeration value="numeric_12" />
	                     <xsd:enumeration value="numeric_11" />
	                     <xsd:enumeration value="numeric_14" />
	                     <xsd:enumeration value="numeric_13" />
	                     <xsd:enumeration value="numeric_16" />
	                     <xsd:enumeration value="numeric_100" />
	                     <xsd:enumeration value="numeric_15" />
	                     <xsd:enumeration value="2_l" />
	                     <xsd:enumeration value="4x_s" />
	                     <xsd:enumeration value="numeric_height_100" />
	                     <xsd:enumeration value="jaspo_x_ot" />
	                     <xsd:enumeration value="7_years" />
	                     <xsd:enumeration value="4x_l" />
	                     <xsd:enumeration value="numeric_3" />
	                     <xsd:enumeration value="numeric_2" />
	                     <xsd:enumeration value="numeric_5" />
	                     <xsd:enumeration value="jaspo_4x_s" />
	                     <xsd:enumeration value="numeric_4" />
	                     <xsd:enumeration value="numeric_7" />
	                     <xsd:enumeration value="numeric_6" />
	                     <xsd:enumeration value="numeric_9" />
	                     <xsd:enumeration value="36_months" />
	                     <xsd:enumeration value="jaspo_4x_o" />
	                     <xsd:enumeration value="numeric_8" />
	                     <xsd:enumeration value="numeric_29" />
	                     <xsd:enumeration value="numeric_28" />
	                     <xsd:enumeration value="4_years" />
	                     <xsd:enumeration value="jaspo_9x_ot" />
	                     <xsd:enumeration value="numeric_21" />
	                     <xsd:enumeration value="numeric_20" />
	                     <xsd:enumeration value="numeric_23" />
	                     <xsd:enumeration value="numeric_height_105" />
	                     <xsd:enumeration value="numeric_22" />
	                     <xsd:enumeration value="numeric_25" />
	                     <xsd:enumeration value="numeric_24" />
	                     <xsd:enumeration value="numeric_27" />
	                     <xsd:enumeration value="numeric_26" />
	                     <xsd:enumeration value="numeric_113" />
	                     <xsd:enumeration value="numeric_112" />
	                     <xsd:enumeration value="numeric_115" />
	                     <xsd:enumeration value="numeric_114" />
	                     <xsd:enumeration value="numeric_height_95" />
	                     <xsd:enumeration value="numeric_117" />
	                     <xsd:enumeration value="numeric_116" />
	                     <xsd:enumeration value="numeric_30" />
	                     <xsd:enumeration value="numeric_119" />
	                     <xsd:enumeration value="numeric_118" />
	                     <xsd:enumeration value="jaspo_9x_o" />
	                     <xsd:enumeration value="jaspo_4x_ot" />
	                     <xsd:enumeration value="numeric_39" />
	                     <xsd:enumeration value="5_years" />
	                     <xsd:enumeration value="numeric_32" />
	                     <xsd:enumeration value="numeric_31" />
	                     <xsd:enumeration value="numeric_34" />
	                     <xsd:enumeration value="numeric_33" />
	                     <xsd:enumeration value="numeric_36" />
	                     <xsd:enumeration value="numeric_120" />
	                     <xsd:enumeration value="free_size" />
	                     <xsd:enumeration value="numeric_35" />
	                     <xsd:enumeration value="numeric_38" />
	                     <xsd:enumeration value="numeric_122" />
	                     <xsd:enumeration value="numeric_37" />
	                     <xsd:enumeration value="numeric_121" />
	                     <xsd:enumeration value="numeric_102" />
	                     <xsd:enumeration value="numeric_101" />
	                     <xsd:enumeration value="numeric_104" />
	                     <xsd:enumeration value="numeric_103" />
	                     <xsd:enumeration value="numeric_106" />
	                     <xsd:enumeration value="numeric_105" />
	                     <xsd:enumeration value="preemie" />
	                     <xsd:enumeration value="numeric_41" />
	                     <xsd:enumeration value="numeric_108" />
	                     <xsd:enumeration value="9_l" />
	                     <xsd:enumeration value="numeric_40" />
	                     <xsd:enumeration value="numeric_107" />
	                     <xsd:enumeration value="11_years" />
	                     <xsd:enumeration value="numeric_109" />
	                     <xsd:enumeration value="numeric_43" />
	                     <xsd:enumeration value="numeric_42" />
	                     <xsd:enumeration value="numeric_45" />
	                     <xsd:enumeration value="numeric_44" />
	                     <xsd:enumeration value="numeric_47" />
	                     <xsd:enumeration value="numeric_46" />
	                     <xsd:enumeration value="numeric_49" />
	                     <xsd:enumeration value="numeric_111" />
	                     <xsd:enumeration value="numeric_48" />
	                     <xsd:enumeration value="numeric_110" />
	                  </xsd:restriction>
	               </xsd:simpleType>
	            </xsd:element>

               <!-- Valid values for apparel size attributes -->

	            <xsd:element name="ApparelSizeClass" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
                            <xsd:enumeration value="numeric" />
                            <!-- The below 3 values are only applicable for JP -->
							       <xsd:enumeration value="alpha_jaspo" />
							       <xsd:enumeration value="numeric_go" />
							       <xsd:enumeration value="numeric_height" />
                            <!-- end of JP values -->
							       <xsd:enumeration value="alpha" />
							       <xsd:enumeration value="age" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
                <xsd:element name="ApparelSizeSystem" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<!-- The below value is only applicable for DE,NL,SE,PL -->
                            <xsd:enumeration value="as3"/>
                            <!-- The below value is only applicable for BR -->
                            <xsd:enumeration value="as2"/>
                            <!-- The below value is only applicable for IN -->  
                            <xsd:enumeration value="as5"/>
                            <!-- The below value is only applicable for FR,ES,AE,SA -->
                            <xsd:enumeration value="as4"/>
                            <!-- The below value is only applicable for JP -->  
                            <xsd:enumeration value="as7"/>
                            <!-- The below value is only applicable for IT -->
                            <xsd:enumeration value="as6"/>
                            <!-- The below value is only applicable for UK -->  
                            <xsd:enumeration value="as8"/>
                            <!-- The below value is only applicable for US,CA,MX and AU -->  
                            <xsd:enumeration value="as1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
	            <xsd:element name="ApparelSizeTo" minOccurs="0">
	               <xsd:simpleType>
	                  <xsd:restriction base="xsd:string">
	                     <xsd:enumeration value="numeric_134" />
	                     <xsd:enumeration value="numeric_50" />
	                     <xsd:enumeration value="numeric_52" />
	                     <xsd:enumeration value="numeric_51" />
	                     <xsd:enumeration value="jaspo_3x_s" />
	                     <xsd:enumeration value="5x_l" />
	                     <xsd:enumeration value="jaspo_3x_o" />
	                     <xsd:enumeration value="5x_s" />
	                     <xsd:enumeration value="3_years" />
	                     <xsd:enumeration value="numeric_54" />
	                     <xsd:enumeration value="15_months" />
	                     <xsd:enumeration value="numeric_53" />
	                     <xsd:enumeration value="numeric_56" />
	                     <xsd:enumeration value="numeric_140" />
	                     <xsd:enumeration value="numeric_55" />
	                     <xsd:enumeration value="numeric_58" />
	                     <xsd:enumeration value="numeric_57" />
	                     <xsd:enumeration value="numeric_59" />
	                     <xsd:enumeration value="numeric_124" />
	                     <xsd:enumeration value="numeric_123" />
	                     <xsd:enumeration value="numeric_126" />
	                     <xsd:enumeration value="numeric_125" />
	                     <xsd:enumeration value="jaspo_8x_o" />
	                     <xsd:enumeration value="numeric_128" />
	                     <xsd:enumeration value="numeric_61" />
	                     <xsd:enumeration value="jaspo_8x_ot" />
	                     <xsd:enumeration value="numeric_60" />
	                     <xsd:enumeration value="numeric_127" />
	                     <xsd:enumeration value="8_l" />
	                     <xsd:enumeration value="numeric_63" />
	                     <xsd:enumeration value="numeric_62" />
	                     <xsd:enumeration value="numeric_129" />
	                     <xsd:enumeration value="jaspo_x_s" />
	                     <xsd:enumeration value="numeric_65" />
	                     <xsd:enumeration value="jaspo_x_o" />
	                     <xsd:enumeration value="numeric_64" />
	                     <xsd:enumeration value="10x" />
	                     <xsd:enumeration value="numeric_67" />
	                     <xsd:enumeration value="numeric_66" />
	                     <xsd:enumeration value="numeric_69" />
	                     <xsd:enumeration value="numeric_68" />
	                     <xsd:enumeration value="numeric_130" />
	                     <xsd:enumeration value="12_years" />
	                     <xsd:enumeration value="numeric_70" />
	                     <xsd:enumeration value="numeric_158" />
	                     <xsd:enumeration value="numeric_72" />
	                     <xsd:enumeration value="numeric_71" />
	                     <xsd:enumeration value="numeric_74" />
	                     <xsd:enumeration value="numeric_73" />
	                     <xsd:enumeration value="jaspo_5x_ot" />
	                     <xsd:enumeration value="0x" />
	                     <xsd:enumeration value="24_months" />
	                     <xsd:enumeration value="teeny" />
	                     <xsd:enumeration value="numeric_76" />
	                     <xsd:enumeration value="numeric_160" />
	                     <xsd:enumeration value="numeric_75" />
	                     <xsd:enumeration value="9_months" />
	                     <xsd:enumeration value="numeric_78" />
	                     <xsd:enumeration value="numeric_77" />
	                     <xsd:enumeration value="10_l" />
	                     <xsd:enumeration value="numeric_164" />
	                     <xsd:enumeration value="numeric_79" />
	                     <xsd:enumeration value="8_years" />
	                     <xsd:enumeration value="numeric_146" />
	                     <xsd:enumeration value="ss" />
	                     <xsd:enumeration value="numeric_81" />
	                     <xsd:enumeration value="numeric_80" />
	                     <xsd:enumeration value="x_l" />
	                     <xsd:enumeration value="numeric_83" />
	                     <xsd:enumeration value="7_l" />
	                     <xsd:enumeration value="2_years" />
	                     <xsd:enumeration value="e" />
	                     <xsd:enumeration value="numeric_82" />
	                     <xsd:enumeration value="numeric_85" />
	                     <xsd:enumeration value="numeric_84" />
	                     <xsd:enumeration value="1x" />
	                     <xsd:enumeration value="9_years" />
	                     <xsd:enumeration value="jaspo_2x_s" />
	                     <xsd:enumeration value="l" />
	                     <xsd:enumeration value="6x_s" />
	                     <xsd:enumeration value="x_s" />
	                     <xsd:enumeration value="m" />
	                     <xsd:enumeration value="jaspo_2x_o" />
	                     <xsd:enumeration value="s" />
	                     <xsd:enumeration value="6x_l" />
	                     <xsd:enumeration value="numeric_87" />
	                     <xsd:enumeration value="numeric_86" />
	                     <xsd:enumeration value="numeric_89" />
	                     <xsd:enumeration value="numeric_88" />
	                     <xsd:enumeration value="numeric_150" />
	                     <xsd:enumeration value="numeric_152" />
	                     <xsd:enumeration value="numeric_90" />
	                     <xsd:enumeration value="numeric_92" />
	                     <xsd:enumeration value="jaspo_7x_o" />
	                     <xsd:enumeration value="numeric_91" />
	                     <xsd:enumeration value="numeric_94" />
	                     <xsd:enumeration value="numeric_93" />
	                     <xsd:enumeration value="numeric_96" />
	                     <xsd:enumeration value="2x" />
	                     <xsd:enumeration value="numeric_95" />
	                     <xsd:enumeration value="numeric_height_190" />
	                     <xsd:enumeration value="go_50" />
	                     <xsd:enumeration value="go_7" />
	                     <xsd:enumeration value="go_8" />
	                     <xsd:enumeration value="go_9" />
	                     <xsd:enumeration value="numeric_98" />
	                     <xsd:enumeration value="numeric_182" />
	                     <xsd:enumeration value="numeric_97" />
	                     <xsd:enumeration value="1_year" />
	                     <xsd:enumeration value="numeric_99" />
	                     <xsd:enumeration value="jaspo_ot" />
	                     <xsd:enumeration value="numeric_188" />
	                     <xsd:enumeration value="16_years" />
	                     <xsd:enumeration value="numeric_height_185" />
	                     <xsd:enumeration value="6_l" />
	                     <xsd:enumeration value="3x" />
	                     <xsd:enumeration value="numeric_height_180" />
	                     <xsd:enumeration value="go_0" />
	                     <xsd:enumeration value="jaspo_2x_ot" />
	                     <xsd:enumeration value="go_1" />
	                     <xsd:enumeration value="go_2" />
	                     <xsd:enumeration value="go_3" />
	                     <xsd:enumeration value="go_4" />
	                     <xsd:enumeration value="go_5" />
	                     <xsd:enumeration value="go_6" />
	                     <xsd:enumeration value="numeric_170" />
	                     <xsd:enumeration value="numeric_176" />
	                     <xsd:enumeration value="go_39" />
	                     <xsd:enumeration value="numeric_height_175" />
	                     <xsd:enumeration value="go_38" />
	                     <xsd:enumeration value="4x" />
	                     <xsd:enumeration value="go_37" />
	                     <xsd:enumeration value="go_36" />
	                     <xsd:enumeration value="go_35" />
	                     <xsd:enumeration value="go_34" />
	                     <xsd:enumeration value="go_33" />
	                     <xsd:enumeration value="go_32" />
	                     <xsd:enumeration value="0_month" />
	                     <xsd:enumeration value="go_31" />
	                     <xsd:enumeration value="go_30" />
	                     <xsd:enumeration value="xx_s" />
	                     <xsd:enumeration value="numeric_height_170" />
	                     <xsd:enumeration value="7x_l" />
	                     <xsd:enumeration value="xx_l" />
	                     <xsd:enumeration value="18_years" />
	                     <xsd:enumeration value="jaspo_6x_o" />
	                     <xsd:enumeration value="numeric_height_165" />
	                     <xsd:enumeration value="5_l" />
	                     <xsd:enumeration value="3_months" />
	                     <xsd:enumeration value="5x" />
	                     <xsd:enumeration value="go_49" />
	                     <xsd:enumeration value="go_48" />
	                     <xsd:enumeration value="go_47" />
	                     <xsd:enumeration value="go_46" />
	                     <xsd:enumeration value="go_45" />
	                     <xsd:enumeration value="go_44" />
	                     <xsd:enumeration value="go_43" />
	                     <xsd:enumeration value="go_42" />
	                     <xsd:enumeration value="newborn" />
	                     <xsd:enumeration value="go_41" />
	                     <xsd:enumeration value="jaspo_6x_s" />
	                     <xsd:enumeration value="go_40" />
	                     <xsd:enumeration value="numeric_height_160" />
	                     <xsd:enumeration value="micro" />
	                     <xsd:enumeration value="jaspo_6x_ot" />
	                     <xsd:enumeration value="17_years" />
	                     <xsd:enumeration value="jaspo_10x_ot" />
	                     <xsd:enumeration value="go_19" />
	                     <xsd:enumeration value="numeric_height_155" />
	                     <xsd:enumeration value="go_18" />
	                     <xsd:enumeration value="6x" />
	                     <xsd:enumeration value="go_17" />
	                     <xsd:enumeration value="go_16" />
	                     <xsd:enumeration value="go_15" />
	                     <xsd:enumeration value="12_months" />
	                     <xsd:enumeration value="numeric_height_75" />
	                     <xsd:enumeration value="go_14" />
	                     <xsd:enumeration value="go_13" />
	                     <xsd:enumeration value="go_12" />
	                     <xsd:enumeration value="6_years" />
	                     <xsd:enumeration value="go_11" />
	                     <xsd:enumeration value="go_10" />
	                     <xsd:enumeration value="numeric_height_150" />
	                     <xsd:enumeration value="18_months" />
	                     <xsd:enumeration value="numeric_height_80" />
	                     <xsd:enumeration value="7x" />
	                     <xsd:enumeration value="4_l" />
	                     <xsd:enumeration value="go_29" />
	                     <xsd:enumeration value="numeric_height_85" />
	                     <xsd:enumeration value="go_28" />
	                     <xsd:enumeration value="6_months" />
	                     <xsd:enumeration value="4_months" />
	                     <xsd:enumeration value="go_27" />
	                     <xsd:enumeration value="go_26" />
	                     <xsd:enumeration value="jaspo_3x_ot" />
	                     <xsd:enumeration value="go_25" />
	                     <xsd:enumeration value="numeric_height_145" />
	                     <xsd:enumeration value="go_24" />
	                     <xsd:enumeration value="go_23" />
	                     <xsd:enumeration value="jaspo_o" />
	                     <xsd:enumeration value="go_22" />
	                     <xsd:enumeration value="go_21" />
	                     <xsd:enumeration value="jaspo_m" />
	                     <xsd:enumeration value="go_20" />
	                     <xsd:enumeration value="jaspo_l" />
	                     <xsd:enumeration value="10x_l" />
	                     <xsd:enumeration value="jaspo_s" />
	                     <xsd:enumeration value="numeric_height_140" />
	                     <xsd:enumeration value="8x_l" />
	                     <xsd:enumeration value="numeric_height_90" />
	                     <xsd:enumeration value="8x" />
	                     <xsd:enumeration value="numeric_height_50" />
	                     <xsd:enumeration value="3x_s" />
	                     <xsd:enumeration value="jaspo_5x_o" />
	                     <xsd:enumeration value="numeric_height_130" />
	                     <xsd:enumeration value="15_years" />
	                     <xsd:enumeration value="jaspo_10x_o" />
	                     <xsd:enumeration value="numeric_height_55" />
	                     <xsd:enumeration value="numeric_height_135" />
	                     <xsd:enumeration value="3x_l" />
	                     <xsd:enumeration value="jaspo_5x_s" />
	                     <xsd:enumeration value="numeric_1" />
	                     <xsd:enumeration value="numeric_0" />
	                     <xsd:enumeration value="l_l" />
	                     <xsd:enumeration value="s_s_s" />
	                     <xsd:enumeration value="9x" />
	                     <xsd:enumeration value="3_l" />
	                     <xsd:enumeration value="numeric_height_60" />
	                     <xsd:enumeration value="one_size" />
	                     <xsd:enumeration value="numeric_height_120" />
	                     <xsd:enumeration value="numeric_height_65" />
	                     <xsd:enumeration value="numeric_height_125" />
	                     <xsd:enumeration value="14_years" />
	                     <xsd:enumeration value="jaspo_7x_ot" />
	                     <xsd:enumeration value="numeric_00" />
	                     <xsd:enumeration value="numeric_height_70" />
	                     <xsd:enumeration value="numeric_height_110" />
	                     <xsd:enumeration value="numeric_height_115" />
	                     <xsd:enumeration value="10_years" />
	                     <xsd:enumeration value="30_months" />
	                     <xsd:enumeration value="numeric_18" />
	                     <xsd:enumeration value="numeric_17" />
	                     <xsd:enumeration value="numeric_19" />
	                     <xsd:enumeration value="13_years" />
	                     <xsd:enumeration value="9x_l" />
	                     <xsd:enumeration value="numeric_10" />
	                     <xsd:enumeration value="numeric_12" />
	                     <xsd:enumeration value="numeric_11" />
	                     <xsd:enumeration value="numeric_14" />
	                     <xsd:enumeration value="numeric_13" />
	                     <xsd:enumeration value="numeric_16" />
	                     <xsd:enumeration value="numeric_100" />
	                     <xsd:enumeration value="numeric_15" />
	                     <xsd:enumeration value="2_l" />
	                     <xsd:enumeration value="4x_s" />
	                     <xsd:enumeration value="numeric_height_100" />
	                     <xsd:enumeration value="jaspo_x_ot" />
	                     <xsd:enumeration value="7_years" />
	                     <xsd:enumeration value="4x_l" />
	                     <xsd:enumeration value="numeric_3" />
	                     <xsd:enumeration value="numeric_2" />
	                     <xsd:enumeration value="numeric_5" />
	                     <xsd:enumeration value="jaspo_4x_s" />
	                     <xsd:enumeration value="numeric_4" />
	                     <xsd:enumeration value="numeric_7" />
	                     <xsd:enumeration value="numeric_6" />
	                     <xsd:enumeration value="numeric_9" />
	                     <xsd:enumeration value="36_months" />
	                     <xsd:enumeration value="jaspo_4x_o" />
	                     <xsd:enumeration value="numeric_8" />
	                     <xsd:enumeration value="numeric_29" />
	                     <xsd:enumeration value="numeric_28" />
	                     <xsd:enumeration value="4_years" />
	                     <xsd:enumeration value="jaspo_9x_ot" />
	                     <xsd:enumeration value="numeric_21" />
	                     <xsd:enumeration value="numeric_20" />
	                     <xsd:enumeration value="numeric_23" />
	                     <xsd:enumeration value="numeric_height_105" />
	                     <xsd:enumeration value="numeric_22" />
	                     <xsd:enumeration value="numeric_25" />
	                     <xsd:enumeration value="numeric_24" />
	                     <xsd:enumeration value="numeric_27" />
	                     <xsd:enumeration value="numeric_26" />
	                     <xsd:enumeration value="numeric_113" />
	                     <xsd:enumeration value="numeric_112" />
	                     <xsd:enumeration value="numeric_115" />
	                     <xsd:enumeration value="numeric_114" />
	                     <xsd:enumeration value="numeric_height_95" />
	                     <xsd:enumeration value="numeric_117" />
	                     <xsd:enumeration value="numeric_116" />
	                     <xsd:enumeration value="numeric_30" />
	                     <xsd:enumeration value="numeric_119" />
	                     <xsd:enumeration value="numeric_118" />
	                     <xsd:enumeration value="jaspo_9x_o" />
	                     <xsd:enumeration value="jaspo_4x_ot" />
	                     <xsd:enumeration value="numeric_39" />
	                     <xsd:enumeration value="5_years" />
	                     <xsd:enumeration value="numeric_32" />
	                     <xsd:enumeration value="numeric_31" />
	                     <xsd:enumeration value="numeric_34" />
	                     <xsd:enumeration value="numeric_33" />
	                     <xsd:enumeration value="numeric_36" />
	                     <xsd:enumeration value="numeric_120" />
	                     <xsd:enumeration value="free_size" />
	                     <xsd:enumeration value="numeric_35" />
	                     <xsd:enumeration value="numeric_38" />
	                     <xsd:enumeration value="numeric_122" />
	                     <xsd:enumeration value="numeric_37" />
	                     <xsd:enumeration value="numeric_121" />
	                     <xsd:enumeration value="numeric_102" />
	                     <xsd:enumeration value="numeric_101" />
	                     <xsd:enumeration value="numeric_104" />
	                     <xsd:enumeration value="numeric_103" />
	                     <xsd:enumeration value="numeric_106" />
	                     <xsd:enumeration value="numeric_105" />
	                     <xsd:enumeration value="preemie" />
	                     <xsd:enumeration value="numeric_41" />
	                     <xsd:enumeration value="numeric_108" />
	                     <xsd:enumeration value="9_l" />
	                     <xsd:enumeration value="numeric_40" />
	                     <xsd:enumeration value="numeric_107" />
	                     <xsd:enumeration value="11_years" />
	                     <xsd:enumeration value="numeric_109" />
	                     <xsd:enumeration value="numeric_43" />
	                     <xsd:enumeration value="numeric_42" />
	                     <xsd:enumeration value="numeric_45" />
	                     <xsd:enumeration value="numeric_44" />
	                     <xsd:enumeration value="numeric_47" />
	                     <xsd:enumeration value="numeric_46" />
	                     <xsd:enumeration value="numeric_49" />
	                     <xsd:enumeration value="numeric_111" />
	                     <xsd:enumeration value="numeric_48" />
	                     <xsd:enumeration value="numeric_110" />
	                  </xsd:restriction>
	               </xsd:simpleType>
	            </xsd:element>
            <xsd:element name="PlayerName" minOccurs="0" type="StringNotNull" />
            <xsd:element name="BackStyle" minOccurs="0" type="TwoThousandString"/>
            <xsd:element name="BeltLengthString" minOccurs="0" type="TwoThousandString"/>
            <xsd:element name="ContainsLiquidContents" minOccurs="0">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="true" />
                     <xsd:enumeration value="false" />
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Coverage" minOccurs="0" type="String" />
            <xsd:element name="DisplaySize" minOccurs="0" type="LengthDimension" />
            <xsd:element name="HazmatException" minOccurs="0" type="TwoThousandString" />
            <xsd:element name="ImporterContactInformation" minOccurs="0" type="String"/>
            <xsd:element name="InsulationType" minOccurs="0" type="StringNotNull" />
            <xsd:element name="ItemDisplayDiameter" minOccurs="0" type="LengthDimension" />
            <xsd:element name="ItemDisplayHeight" minOccurs="0" type="LengthDimension" />
            <xsd:element name="ItemDisplayWidth" minOccurs="0" type="LengthDimension" />
            <xsd:element name="ItemShape" minOccurs="0" type="HundredString" />
            <xsd:element name="ItemStyling" minOccurs="0" type="StringNotNull" />
            <xsd:element name="ItemTypeName" minOccurs="0" type="String" />
            <xsd:element name="JacketLength" minOccurs="0" type="xsd:decimal"/>
            <xsd:element name="LeagueName" minOccurs="0" type="StringNotNull" />
            <xsd:element name="LiningDescription" minOccurs="0" type="StringNotNull" />
            <xsd:element name="NumberOfPieces" minOccurs="0" type="xsd:positiveInteger" />
            <xsd:element name="SportsNumberOfPockets" minOccurs="0" type="xsd:positiveInteger" />
            <xsd:element name="ArtistBiography" minOccurs="0" type="StringNotNull" />
            <xsd:element name="PackerContactInformation" minOccurs="0" type="String"/>
            <xsd:element name="PadType" minOccurs="0" type="StringNotNull" />
            <xsd:element name="ShaftType" minOccurs="0" type="StringNotNull" />
            <xsd:element name="SkillLevel" minOccurs="0" type="StringNotNull" />
            <xsd:element name="Sport" minOccurs="0" type="StringNotNull" />
            <xsd:element name="TeamName" minOccurs="0" type="StringNotNull" />
            <xsd:element name="ToeStyle" minOccurs="0" type="String" />
            <xsd:element name="UnitCount" minOccurs="0" type="xsd:decimal" />
            <xsd:element name="PPUCountType" minOccurs="0" type="StringNotNull" />
            <xsd:element name="WaterResistanceDepth" minOccurs="0" type="LengthDimension" />
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>